@import './common.scss';

section.banner-wrapper { background: #394b78; height: 800px; overflow: hidden; position: relative;
  > #video { position: absolute; left: 0; top: 0; z-index: 1; }
  > .banner-bg { position: absolute; width:100%; left: 0; top: 0; z-index: 2; }
  > .content-wrapper {position: absolute; width: 100%; height: 100%; left: 0; top: 0; height: 800px;
    z-index: 3; padding: 37px 50px 57px 50px;
    header { display: flex; justify-content: space-between;
      ul { display: flex; align-items: center; font-family:PingFangSC-Medium;
        font-size:16px; color:#ffffff;
        > li { margin-right: px(160); cursor: pointer; position: relative;
          &:hover { color: #009ff5; }
          &.active { color: #009ff5;
            &:after { content: ''; position: absolute; left: 50%; bottom: -8px; width: 98%; height: 4px;
              background: #009ff5; border-radius: 4px; transform: translateX(-50%); z-index: 3;
            }
          }
          &:first-child { &:after { display: none; } }
        }
        .logo { height: 40px; }
      }
      > .aside { display: flex;
        > .loadMore { margin-right: 20px; display: flex; flex-direction: column; align-items: center; justify-content: center;
          position: relative; width: 80px;
          .load-wrap { display: flex; justify-content: center; align-items: center; flex-direction: column;
            position: absolute; left: 0; bottom: -110%; width: 100%;
            &.active { display: none; }
            > a{ margin-top: 16px; color: #fff; position: relative;
              &:hover { color: #009ff5;
                &:after { content: ''; position: absolute; left: -10px; top: 50%; width: 10px; height: 10px;
                  transform: translateY(-50%); background: #009ff5;
                }
              }
            }
          }
        }
      }
    }
    .content { display: flex; align-items: center; margin-top: 85px;
      > .book { margin-right: 120px;
        > h1 { font-family: $font-mingHeiMonoB; font-size:100px; color: #ffffff; margin-bottom: 50px;}
        > p { font-family: PingFangSC-Medium; font-size:16px; color: #ffffff; margin-bottom: 50px;}
        > .book-button { height: 72px; width: 352px; cursor: pointer; user-select: none;
          outline: none; background: rgba(35, 185, 241, 0.33); border-radius: 48px;
          border: 0; font-family:PingFangSC-Semibold; font-size:18px; color:#ffffff; display: flex; justify-content: center;
          align-items: center; padding: 8px;
          > span { display: flex; width: 100%; height: 100%; background-image: linear-gradient(-90deg, #23B9F1 0%, #009EF5 100%);
            border-radius: 32px; display: flex; justify-content: center; align-items: center;
            &.active { background-image: linear-gradient(90deg, #23B9F1 0%, #009EF5 100%); }
          }
        }
      }
      > .description { width: 500px; height: 500px; opacity:0.39; background-image:linear-gradient(0deg, #5a70af 0%, #1e2c61 100%);
        box-shadow:0 22px 16px 0 rgba(43,61,118,0.50); border-radius:64px; }
    }
  }
}