h1, h2, h3 {
  color: #2b4576;
  font-weight: bolder;
}
@media (min-width: 500px){
  h1{
    font-size: 36px;
  }
  .section-wrapper{
    padding: 75px 0;
    > main{
      max-width: 1200px;margin: 0 auto;
    }
  }
}

@media (max-width: 499px){
  h1{
    font-size: 24px;
  }
  .section-wrapper{
    padding: 50px 10px;
    > main{

    }
  }
}