@import "common";

section.contact-wrapper{
  background-image: url("../images/contact/bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  main{
    h1{
      color: #fff;
      margin-bottom: 60px;
    }
    .content{
      position: relative;
      color: #fff;
      h4{
        font-size: 24px;
      }
      .career,.course,.link{
        display: inline-block;
        vertical-align: top;
      }
    }
    footer{
      margin-top: 20px;
      padding-top: 20px;
      border-top: 2px solid #2b3d76;
      font-size:14px;
      color:#ffffff;
    }
  }
}
@media (min-width: 500px){
  section.contact-wrapper{
    .content{
      margin: 20px 0 150px 0;
      .career,.course,.link{
        margin-right: 100px;
        line-height: 1.5;
        p{
          margin: 20px 0;
        }
      }
      .connection-pc{
        h4{
          text-align: right;
          margin-bottom: 20px;
        }
        img{
          width: 50px;
          height: 50px;
          cursor: pointer;
        }
        li{
          position: relative;
          .triangle,.box{display: none}
        }
        li.active{
          .triangle,.box{display: block}
        }
        ul{
          .triangle{
            position: absolute;
            top: 14px;
            left: -16px;
          }
          .box{
            position: absolute;
            padding: 24px;
            width: 280px;
            top: 0;
            left: -300px;
            background:linear-gradient(0deg, #5a70af 0%, #1e2c61 100%);
            box-shadow:0 22px 16px 0 rgba(43,61,118,0.50);
            border-radius:32px;
            p{
              color: #FFFFFF;
              line-height: 2;
            }
            img{width: 100%;height: auto;}
            &.wechat-qr-wrapper{
              img{display: none}
            }
          }
        }
        position: absolute;
        top: -20px;
        right: 0;

      }
    }
    .contact-inner{display: none}
  }
}
@media (max-width: 499px){
  section.contact-wrapper{
    background: #1e2d5f;
    .contact-pc{display: none;}
    .contact-inner{
      background-image: url("../images/contact/bg.png");
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .contact-phone .content li{
      cursor: pointer;
      margin: 10px 0;
      .drop-down{
        overflow: hidden;
        max-height: 0px;
        transition: max-height .3s ease-out;
      }
      .title{
        display: flex;
        justify-content: space-between;
      }
      .icon {
        margin-right: 10px;
        span.x {
          width: 18px;
          height: 18px;
          display: inline-block;
          position: relative;
          transition: .3s;
          &:before {
            content: "";
            position: absolute;
            width: 2px;
            height: 100%;
            background: $bright-blue;
            left: 8px;
            transition: 0.5s;
          }
          &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background: $bright-blue;
            left: 0;
            top: 8px;
            transition: 0.5s;
          }
        }
      }
      &.active{
        .title{
          span.x{
            &:before{
              transform: rotate(-225deg);
              transition: 0.5s;
            }
            &:after{
              transform: rotate(-225deg);
              transition: 0.5s;
            }
          }
          .question{
            color:#fff;
          }
        }
      }
      &.active .drop-down{
        max-height: 200px;
        transition: max-height 1s ease-in;
      }
      .drop-down-content {
        margin-left: 28px;
        font-size: 14px;
        padding: 0.1px;
        p{
          line-height: 1.5;
          color: #FFFFFF;
        }
      }
    }
  }
}