@import url('//at.alicdn.com/t/font_799496_gshq7oqh0r.css');
$theme-color: #1ec1f1;
$link-hover-color: #1ec1f1;
$text-theme-color: #122036;

/* 动态rem */
$designWidth: 640;
@function px( $px ){
  @return $px/$designWidth*10 + rem;
}

h1, h2, h3 {
  color: #2b4576;
  font-weight: bolder;
}
/* 颜色 */
$black-blue: #1d2b60;
$white-blue: #b8d7e9;
$gray-blue: #6a8cb7;
$young-blue: #0fceef;
$bright-blue: #009ff5;
$gray: #606e7d;
$white-gray: #d8d8d8;

/* 字体 */
$font-medium: PingFangSC-Medium;
$font-semibold: PingFangSC-Semibold;
$font-mingHeiMonoB: MingHeiMonoB;

/* background */
@mixin linear-gradient-blue-to-white() {
  background: linear-gradient(90deg, #f9fcff 0%, #ebf7ff 100%);
}
@mixin linear-gradient-white-to-blue() {
  background:linear-gradient(90deg, #ebf7ff 0%, #f9fcff 100%);
}
@mixin linear-gradient-blue-to-black(){
  background:linear-gradient(-180deg, #395088 6%, #1e2c61 88%);
}
@mixin center-background(){
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}