@import './common.scss';

section.booking { overflow: hidden;
  .iconfont{
    font-size: 18px;
    color: #009ff5;
    margin:0 5px;
  }
  .container { background-image: url("../../assets/images/QR-code/code-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    > .back { display: flex; justify-content: center; align-items: center; color: $bright-blue;
      cursor: pointer; margin-top: 30px;
      > img{ margin-right: 5px; }
    }
    > .content-wrap { padding: 0 83px;
      > h1 { padding-top: 31px; padding-bottom: 71px; }
      > h1,h2{ text-align: center; }
      > .QR-wrap { display: flex; justify-content: space-between; align-items: flex-start;
        margin-bottom: 36px;
        .code-wrap { width: 220px; display: flex; flex-direction: column; justify-content: center;
          align-items: center;
          > img { width: 220px; height: 220px; box-shadow:0 0 16px 0 rgba(43,69,118,0.50); border-radius:20px; }
          > span { display: flex; justify-content: center; align-items: center;
            border: 4px solid #009ff5; width:35px; height:35px; border-radius: 50%;
            color: #009ff5; font-size:24px; margin-bottom: 19px;
          }
          > p,a { font-size:14px; color: #1d2b60; text-align: center;
            min-height: 40px; margin-bottom: 41px;
          }
        }
        .public-code {
          > a { display: flex; justify-content: center; align-items: center;
            > img { transform: rotate(-180deg); margin-left: 10px; }
          }
        }
        .phone {
          > .phoneList { width: 220px; height: 220px; background:#ffffff; box-shadow:0 0 16px 0 rgba(43,69,118,0.50);
            border-radius:20px; overflow: hidden;
            > ul { width: 100%; height: 100%; padding: 27px 46px 27px 46px;
              > li { display: flex; align-items: center; margin-bottom: 29px;
                font-size:14px; color:#2b4576;
                &:last-child { margin-bottom: 0; }
                > img { width: 16px; height: 16px; margin-right: 24px; }
              }
            }
          }
        }
      }
      > .tip { display: flex; justify-content: center;
        > span { display: block; width: 220px; font-size:14px; color:#606e7d;}
      }
    }
    > h2 { font-size:36px; color:#1d2b60; text-align: center; margin: 80px 0px;}
    .more-select { display: flex; justify-content: center;
      .iconfont{font-size: 24px;margin-left: 10px;}
      ul { display: flex; flex-wrap: wrap;
        > li { width: 33.333333%; display: flex; justify-content: center; align-items: center;
          font-size:14px; color:#606e7d; margin-bottom: 42px;
          &:hover { color:#009ff5; }
          > a {  width: 80%; display: flex; justify-content: flex-start; align-items: center;
            > img { margin-left: 10px; transform: rotate(-180deg); }
          }
        }
      }
    }
  }
}