@import "../common/base.scss";


.btn-style1 {
  display: inline-block;
  min-width: 210px;
  color: $theme-color;
  border-radius: 25px;
  line-height: 46px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 2px solid #1ec1f1;
}