section.comment-wrapper{
  padding-top: 75px;
  padding-bottom: 100px;
  background:linear-gradient(90deg, #ebf7ff 0%, #f9fcff 100%);
  main.container{
    overflow: hidden;
    .content{
      display: block;
      position: relative;
      background:#ffffff;
      box-shadow:0 0 20px 0 rgba(0,159,245,0.15);
      padding: 40px 15px;
      margin: 20px;
      border-radius:16px;
      height: 200px;
      font-size:16px;
      color:#606e7d;
      .iconfont{
        font-size: 36px;
        position: absolute;
        color: #b9d7e8;
        top: -10px;left: -10px;
      }
    }
    .user{
      margin: 30px 20px;
      display: flex;
      align-items: center;
      img{
        width: 72px;
        height: 72px;
        margin-right: 20px;
        border-radius: 50%;
      }
      .info{
        flex: 1;
        a{
          font-size:12px;
          color:#606e7d;
        }
        .name{
          font-size:18px;
          color:#1d2b60;
          margin-bottom: 10px;
        }
      }
    }
  }
  h1{
    text-align: center;
    line-height: 1.5;margin-bottom: 60px;
  }

}

@media (min-width: 500px){
  section.comment-wrapper{
    ul{
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      li{
        width: calc(100%/3 - 20px);
      }
    }
  }
}

@media (max-width: 499px){
  section.comment-wrapper{
    ul{
      overflow-x: auto;
      li{
        width: 100%;
      }
    }
  }
}