section.map-wrapper{
  padding-top: 75px;
  padding-bottom: 100px;
  background:linear-gradient(90deg,#f9fcff 0%,#ebf7ff 100%);
  main{
    h1{margin-bottom: 20px}
    .content{
      display: flex;
      justify-content: space-between;
      ul{
        flex: 1;
        li{
          font-family:PingFangSC-Semibold;
          margin-bottom: 42px;
          font-size:20px;
          color:#1d2b60;
          display: flex;
          align-items: center;
          .iconfont{
            font-size: 24px;
            margin-right: 10px;
          }
        }
      }
      #address{
        width: 600px;
        height: 320px;
      }
    }
  }
}