@import '../common/base';

section.submit-success {position: relative;
  .container {
    > img { width: 100%; }
    > .content-wrap { position: absolute; left: 0; top: 0;
      width: 100%; height: 100%;
      > h1 { padding: 106px 0 38px 0; }
      > h2,.h2 { padding-bottom: 53px; display: flex; justify-content: center; align-items: center;
        > img { transform: rotate(-180deg); }
      }
      > h1,h2,h3 { text-align: center; }
      > h2,.h2 { font-family:PingFangSC-Semibold; font-size:18px; color:#009ff5; }
      > h3 { font-family:PingFangSC-Semibold; font-size:20px; color:#1d2b60; }
      > .QR-wrap { display: flex; justify-content: center; align-items: center;
        img { width: 220px; height: 220px; margin-top: 50px; }
        .sister-code { margin-right: 200px;
          p { font-family:PingFangSC-Medium; font-size:14px; color:#009ff5; text-align: center;
            padding-top: 10px;
          }
        }
        .public-code {
          p { font-family:PingFangSC-Medium; font-size:14px; color:#009ff5; text-align: center;
            padding-top: 10px;
          }
        }
      }
    }
    .back { display: flex; justify-content: center; align-items: center; color: $bright-blue;
      cursor: pointer; margin-top: 30px;
      > span { width: 20px; height: 20px; border: 1px solid $bright-blue; border-radius: 50%;
        display: flex; color: $bright-blue; align-items: center; justify-content: center; }
    }
    .iconfont{
      font-size: 20px;
      margin-left: 5px;
    }
  }
}